<div class="container exp">
  <div class="headings">
    <h1 class="big-heading">About</h1>
  </div>
  <div class="description right" [@fadeState]="state">
    <p>
      Started as Graphic Designer and worked towards Front-end Development as a
      passion, currently working as a Senior Front-end Engineer at Hero Digital.
      Experienced in frameworks and libraries in JavaScript, React/Redux,
      Angular, HTML5, CSS/SASS/Less, AEM, educated at engineering and
      programming courses. <br /><br />Game Design student and game developer as
      a hobby. Excited by challenging work, passionate about elegant code,
      inspired by tech's power to engage and inform.
    </p>
  </div>
</div>
