.nav {
  margin: 50px 10%;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  @media (max-width: 768px) {
    font-size: var(--f-xxs);
  }
}
.nav-logo {
  ::after {
    content: "";
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    top: -4px;
    left: -52px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    z-index: -1;
  }
}

.nav-links {
  float: right;
  width: 45%;
  min-width: 150px;
  position: absolute;
  top: 25%;
  right: 0;
  font-size: var(--f-md);
  font-family: var(--text-font-family);
  @media (max-width: 1023px) {
    width: 77%;
    top: 30%;
    font-size: var(--f-lg);
  }
}

ul {
  list-style-type: none;
  &.nav-list{
    li {
      margin: 1% 5%;
      display: inline-flex;
      text-align: center;
      place-content: center;
      width: 20%;
      min-width: 45px;
    }
  }  
  &.social-links{
    margin-bottom: 50px;
    li{
      margin: 10px 0;
    }
  }
}

.icons {
  width: 25px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
}
