<div class="container">
  <p>Hi, my name is</p>
  <div class="headings">
    <h1 class="big-heading">Jordan Gonçalves</h1>
    <div class="text-animation">
      <h1 class="medium-heading white">Front-end Developer</h1>
    </div>
  </div>
  <div class="description" [@fadeState]="state">
    <p>
      Based in São Paulo, Brazil. While working remotely internationally, I try
      to keep up with the latest trends, am passionate about learning new
      technologies, bringing ideas to life, and working to build efficient and
      accessible applications suited to the user’s needs.
    </p>
    <br />
    <div class="code bottom-right" [@fadeState]="state">
      This site was made from scratch using Angular 14!
    </div>
  </div>
</div>
