<div class="container">
  <p>Hi, my name is</p>
  <div class="headings">
    <h1 class="big-heading">Jordan Gonçalves</h1>
    <div class="text-animation">
      <h1 class="medium-heading white">Front-end Developer</h1>
    </div>
  </div>
  <div class="description" [@fadeState]="state">
    <p>
      Based in São Paulo, Brazil. I try to keep up with the latest trends,
      Passionate about learning new technologies, bringing ideas to life, and
      working to build efficient and robust applications suited to the user’s
      needs.
    </p>
  </div>
</div>
