<div class="container works">
  <div class="two-section">
    <div class="works__projects">
      <div class="headings">
        <h1 class="medium-heading">Works</h1>
      </div>
      <div class="description">
        <p>
          A small gallery of projects chosen by me. Small projects have been
          done only by myself, bigger ones I've done them all together with
          amazing people from companies around the globe. It's not much but it's
          what I can show right now.<br /><br />
          Also a few github projects I like to show off.
        </p>
        <br />

        <div class="grid-row">
          <div class="grid-item">
            <a
              target="_blank"
              href="https://github.com/JGration/Hero-Digital-FED-Test"
            >
              <div class="grid-item-wrapper">
                <div class="grid-item__title">Angular Complete Form</div>
                <div class="grid-item__description">
                  <span
                    >Angular project made for Hero Digital. Contains validation,
                    mockup REST API and complete a11y.</span
                  >
                </div>
                <div class="grid-item__details code">
                  <span>Hero-Digital-FED-Test </span>
                </div>
              </div>
            </a>
          </div>
          <div class="grid-item">
            <a
              target="_blank"
              href="https://github.com/JGration/CT-skill-test-Site"
            >
              <div class="grid-item-wrapper">
                <div class="grid-item__title">Los Angeles Mountain Mockup</div>
                <div class="grid-item__description">
                  <span
                    >A small responsive site made for a confidential company
                    test. Made with Angular CLI 10.</span
                  >
                </div>
                <div class="grid-item__details code">
                  <span>CT-skill-test-Site</span>
                </div>
              </div>
            </a>
          </div>
          <div class="grid-item">
            <a
              target="_blank"
              href="https://github.com/JGration/PlaneMerger0.19-DEMO"
            >
              <div class="grid-item-wrapper">
                <div class="grid-item__title">PlaneMerger0.19-DEMO</div>
                <div class="grid-item__description">
                  <span
                    >A small castlevania and dark souls inspired game demo made in Unity</span
                  >
                </div>
                <div class="grid-item__details code">
                  <span>PlaneMerger0.19-DEMO</span>
                </div>
              </div>
            </a>
          </div>
          <div class="grid-item">
            <a
              target="_blank"
              href="https://github.com/JGration/First-Third-Frontend-Challenge"
            >
              <div class="grid-item-wrapper">
                <div class="grid-item__title">Barebones Frontend Challenge</div>
                <div class="grid-item__description">
                  <span
                    >A newsletter form with HTML, CSS and javascript only functionalities. Barebones application.</span
                  >
                </div>
                <div class="grid-item__details code">
                  <span>First-Third-Frontend-Challenge</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        
        <!-- <div class="code bottom-right">
          This site was made from scratch using Angular 14!
        </div> -->
      </div>
    </div>
    <div class="works__experience" [@fadeState]="state">
      <div class="cards">
        <div class="row">
          <div class="work card">
            <div class="wrapper barings">
              <div class="data">
                <div class="content">
                  <span class="skill">Javascript</span>
                  <span class="skill">HTML</span>
                  <span class="skill">SCSS</span>
                  <a target="_blank" href="https://barings.com" class="button"
                    >Visit Page</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="work card">
            <div class="wrapper rwjf">
              <div class="data">
                <div class="content">
                  <span class="skill">React</span>
                  <span class="skill">AEM</span>
                  <span class="skill">Typescript</span>
                  <a target="_blank" href="https://www.rwjf.org" class="button"
                    >Visit Page</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="work card">
            <div class="wrapper sprouts">
              <div class="data">
                <div class="content">
                  <span class="skill">Wordpress</span>
                  <span class="skill">PHP</span>
                  <span class="skill">Plugins</span>
                  <a target="_blank" href="https://www.sprouts.com" class="button"
                    >Visit Page</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="work card">
            <div class="wrapper ruse">
              <div class="data">
                <div class="content">
                  <span class="skill">Angular</span>
                  <span class="skill">Typescript</span>
                  <span class="skill">SCSS</span>
                  <a
                    target="_blank"
                    href="https://www.rushtruckcenters.com"
                    class="button"
                    >Visit Page</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="headings">
        <h1 class="small-heading">Where I've worked</h1>
      </div>
      <div class="description">
        <table>
          <tbody>
          <tr>
            <td>Hero Digital</td>
            <td>Senior Front-end Engineer</td>
            <td>2021 – Current</td>
            <td></td>
          </tr>
          <tr>
            <td>Herbclin/Lipolabs</td>
            <td>Front-end Developer</td>
            <td>2019 – 2021</td>
          </tr>
          <tr>
            <td>Freelance and Personal Projects</td>
            <td>Front-end Developer</td>
            <td>2018 – 2019</td>
          </tr>
          <tr>
            <td>Digital Agency DuploV</td>
            <td>Graphic Designer</td>
            <td>2015 – 2015</td>
          </tr>
        </tbody>
        </table>
      </div>
      <br>
      <div class="code bottom-right" style="text-align: right;" [@fadeState]="state">
        More details can be found on my resume
      </div>
    </div>
  </div>
</div>
